body{
    background-color: #E7C6FF;
}
.tablas{
    height: 50px;
    width: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 3px;

}

.botones{
    display: flex;
    flex-wrap: wrap;
}

.art0{
    /* background-color: #ffffff; */
}
.art1{
    background-color: #fbf6f8;
}